

<header class="flex justify-between items-center py-3 px-3">
    <img
    class="rounded-full w-20 h-20 object-cover object-[60%]" 
    src="/myphoto.jpg" alt="nel photo" />

    <nav class="flex flex-row gap-4 opacity-80">
        <a href="/">Home</a>
        <a  href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    <nav/>
</header>

<style>
    a {
        font-weight: bold;
        color: hsl(256.88deg 40% 5%);
    }

    a:hover {
        color:  rgb(254 202 202);
    }
</style>

